<div class="container-fluid">
    
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <terra-portlet [inputPortletHeader]="'reactiveForm' | translate:lang">
                <form *ngIf="form" [formGroup]="form" (submit)="submit()">
                    <terra-button [inputCaption]="'submit' | translate:lang"
                                  [inputType]="'submit'"></terra-button>
                    <terra-text-input [inputName]="'lastName' | translate:lang"
                                      formControlName="lastName">
                    </terra-text-input>
                    <terra-text-input [inputName]="'firstName' | translate:lang"
                                      formControlName="firstName">
                    </terra-text-input>
                    
                    <div class="container-fluid"
                         formArrayName="someFacts">
                        <div class="row"
                             *ngFor="let fact of form.get('someFacts').controls; last as isLast; index as index"
                             [formGroupName]="index">
                            <terra-text-input class="col-sm-5"
                                              [inputName]="'favoriteColor' | translate:lang"
                                              formControlName="favoriteColor">
                            </terra-text-input>
                            
                            <terra-number-input class="col-sm-5"
                                                [inputName]="'luckyNumber' | translate:lang"
                                                formControlName="luckyNumber">
                            </terra-number-input>
                            
                            <terra-button class="col-sm-1"
                                          inputIcon="icon-delete"
                                          (outputClicked)="remove(index, fact)">
                            </terra-button>
                            
                            <terra-button class="col-sm-1"
                                          *ngIf="isLast"
                                          inputIcon="icon-add"
                                          (outputClicked)="add()">
                            </terra-button>
                        </div>
                    </div>
                </form>
            </terra-portlet>
        </div>
        <div class="col-sm-4" *ngIf="form.controls">
            <ng-container *ngIf="form.get('someFacts')">
                <div *ngFor="let fact of form.get('someFacts').controls; index as index"
                     [hidden]="fact.get('favoriteColor').valid || fact.get('favoriteColor').pristine"
                     class="alert alert-danger">
                    {{ 'error.forbiddenColor' | translate:lang:{ factIndex: index+1, forbiddenColor: 'Pink' } }}
                </div>
            </ng-container>
        </div>
    </div>
</div>




