<div class="container-fluid">
    
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <terra-portlet [inputPortletHeader]="'reactiveForm' | translate:lang">
                <form>
                    <terra-button [inputCaption]="'submit' | translate:lang"
                                  (outputClicked)="submit()"></terra-button>
                    <terra-text-input [inputName]="'lastName' | translate:lang"
                                      [(ngModel)]="someDude.lastName"
                                      name="lastName">
                    </terra-text-input>
                    <terra-text-input [inputName]="'firstName' | translate:lang"
                                      [(ngModel)]="someDude.firstName"
                                      name="firstName">
                    </terra-text-input>
                    
                    <div class="container-fluid">
                        <div class="row">
                            <terra-text-input class="col-sm-5"
                                              [inputName]="'favoriteColor' | translate:lang"
                                              [(ngModel)]="someDude.someFacts.favoriteColor"
                                              name="favoriteColor">
                            </terra-text-input>
                            
                            <terra-number-input class="col-sm-5"
                                                [inputName]="'luckyNumber' | translate:lang"
                                                [(ngModel)]="someDude.someFacts.luckyNumber"
                                                name="luckyNumber">
                            </terra-number-input>
                            
                            <!--<terra-button class="col-sm-1"
                                          inputIcon="icon-delete"
                                          (outputClicked)="remove(index)">
                            </terra-button>
                            
                            <terra-button class="col-sm-1"
                                          *ngIf="isLast"
                                          inputIcon="icon-add"
                                          (outputClicked)="add()">
                            </terra-button>-->
                        </div>
                    </div>
                </form>
            </terra-portlet>
        </div>
    </div>
</div>




