<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="header">
                <h1>Lista wysyłek</h1>
                <img src="assets/images/dpd.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ 'startNow' | translate: lang }}</h2>
            <br />
            <div class="center">
                <terra-button
                    [inputCaption]="'get currencies' | translate: lang"
                    (outputClicked)="getCurrencies()"
                    [inputTooltipText]="'get currencies' | translate: lang"
                >
                </terra-button>

                <div [innerHTML]="currencies | json"></div>
            </div>
            <div class="center">
                <ptb-currencies-table></ptb-currencies-table>
            </div>
        </div>
    </div>
</div>
